body {
    background-color: black;
}
.game{
    text-align: center;
    color: aliceblue;
    border-style: solid;
    border-color: aliceblue;
    margin: auto;
    width: 15%;
    height: 20%;
    padding-top: 50px;
    padding-right: 40px;
    padding-bottom: 80px;
    padding-left: 40px;
    margin-top: 300;
}

button {
    border-radius: 25px;
    text-align: center;
    padding: 15px 32px;
    font-size: 16px;
}